<div class="medicines">
  <div class="med-list">
    <% if(Medicines.length > 0) { Medicines.forEach((brandInfo) => { %>
    <div class="med-entry">
      <div class="medBefAft"><%= brandInfo.when %></div>
      <div class="medDuration"><%= brandInfo.duration %></div>
      <div class="medName">
        <img class="medImage" src="<%" ="brandInfo.DosageForm.imag_url" % />
        /> <%= brandInfo.Brand.name %> <%= brandInfo.Brand.strength %>
      </div>
      <div class="medWhen"><%= brandInfo.dosage %></div>
    </div>

    <% }) } %>
  </div>

  <div class="prescription-header">
    <div class="overlap-group">
      <div class="doctor-info">
        <div class="doctorName">
          Dr. <%= Header.DoctorPortionInfo.DoctorInfo.name %>
        </div>
        <div class="doctor-additional">
          <div class="contact">
            Contact: <%= Header.DoctorPortionInfo.DoctorInfo.phone %>
          </div>
          <div class="degree">
            <%= Header.DoctorPortionInfo.DoctorInfo.degrees.join(", ") %>
          </div>
          <div class="department">
            <%= Header.DoctorPortionInfo.Specialization.name %>
          </div>
        </div>
      </div>
      <div class="prescription-info">
        <div class="prescriptionDate">
          Date: <%= new
          Date(Header.AppointmentPortionInfo.time).toLocaleDateString() %>
        </div>
      </div>
    </div>
  </div>
  <img
    class="rxImg"
    src="https://www.freeiconspng.com/thumbs/rx-icon/rx-icon-6.png"
  />
</div>
